body {
  padding-left: 11em;
  font-family: Georgia, "Times New Roman",
        Times, serif;
  color: black;
  background-color: white;}
ul.navbar {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 2em;
  left: 1em;
  width: 9em }
h1 {
  font-family: Helvetica, Geneva, Arial,
        SunSans-Regular, sans-serif;
		color:blue;
		}
ul.navbar li {
  background: red;
  margin: 0.5em 0;
  padding: 0.3em;
  border-right: 1em solid blue; }
ul.navbar a {
  text-decoration: none }
a:link {
  color: blue }
a:visited {
  color: purple }

.hide {
display: none;
padding:2px;
margin:0px; 
border:5px solid gray;
z-index:1;
position:absolute;
background-color:#fff;
}